{% extends "layout.html" %}
{% block title %}Student Club - Add Event{% endblock %}
{% block content %}


  {% from "formhelpers.html" import render_field %}
<p>
  <br>
</p>
<div class="columns is-mobile is-centered">
  <div class="box">
    <form method="post">
      <div class="field is-fullwidth">
        <div class="field">
          <div class="control">
            {{ render_field(form.eventname, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.date, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.time, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.place, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.content, class="label") }}
          </div>
        </div>
        <input class="button is-light" type="submit" value="Update Event">
    </form>
  </div>
</div>

{% endblock %}