{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <p>
    <br>
  </p>
  <div class="columns is-mobile is-centered">
    <div class="columns">
      <figure class="image is-128x128">
        <img src="/static/logo.png">
      </figure>
    </div>
  </div>
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-half">
        <article class="message is-light">
          <div class="message-header">
            Tracking System of Student Clubs' Events
          </div>
          <div class="message-body">
            You will be able to list the activities of student clubs and create your own list and display them in your
            list of activities you want to participate in.
          </div>
        </article>
      </div>
    </div>
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <article class="message is-light">
          <div class="message-header">
            Easy Membership to Student Clubs
          </div>
          <div class="message-body">
            You can easily become a member of the club of your choice and help nature by leaving paperwork behind.
          </div>
        </article>
      </div>
    </div>
    <div class="columns is-mobile is-centered">
      <div class="column is-half">

      </div>
      <div class="column is-half">
        <article class="message is-light">
          <div class="message-header">
            Saving time
          </div>
          <div class="message-body">
            Following 200 different clubs on social media platforms is a waste of time. We will reclaim your lost time.
          </div>
        </article>
      </div>
    </div>
  </div>
  {% endblock %}
