{% extends "layout.html" %}
{% block title %}Student Register{% endblock %}
{% block content %}


{% from "formhelpers.html" import render_field %}
<p>
  <br>
</p>
<div class="columns is-mobile is-centered">
  <div class="box">
    <form method="post">
      <div class="field is-fullwidth">
        <div class="field">
          <div class="control">
            {{ render_field(form.name, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.surname, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.department, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.username, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.email, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.password, class="label") }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ render_field(form.confirm, class="label") }}
          </div>
        </div>
        <input class="button is-light" type="submit" value="Register">
    </form>
  </div>
</div>
{% endblock %}